<div class="container mt-5">
  <h2>{{title}} Quiz</h2>
  <p>Question {{questionNumber}}: {{currentQuestion.question}}</p>
  {{#ifEquals currentQuestion.type "multiple-choice"}}
    {{#each currentQuestion.options}}
      <button onclick="checkAnswer('{{this}}')">{{this}}</button>
    {{/each}}
  {{/ifEquals}}
  {{#ifEquals currentQuestion.type "text-response"}}
    <input type="text" id="textAnswer" placeholder="Type your answer" class="form-control my-3">
    <button onclick="submitTextAnswer()">Submit</button>
  {{/ifEquals}}
  {{#ifEquals currentQuestion.type "image-choice"}}
    {{#each currentQuestion.imageOptions}}
      <img src="{{this}}" onclick="checkAnswer('{{this}}')" class="img-thumbnail">
    {{/each}}
  {{/ifEquals}}
  <div id="feedback"></div>
</div>
